{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  #inline1,
  #inline2,
  #inline3,
  #inline4,
  #inline5,
  #inline6 {
    display: inline;
  }

  .btn {
    margin-top: 2rem;
  }

  .fa {

    color: #6C63AC;

    font-size: 22px;

  }

  @media(max-width:768px) {

    .ticketdetail {

      margin-top: 20px !important;

    }

  }

  .edit a {

    list-style: none;

    text-decoration: none;

    font-size: 1.1rem;

    color: #6C63AC;

  }

  .print a {

    list-style: none;

    font-size: 1.1rem;

    color: #6C63AC;

    text-decoration: none;

  }

  .dd {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 80px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #6C63AC;
  }
</style>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Ticket Details </h3>
      <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
          </ol>
        </nav> -->
    </div>
    <div class="row">
      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form class="forms-sample">
              <div class="row">
                <div class="col-md-3">
                  <h6>Title :-</h6>
                </div>
                <div class="col-md-9">
                 <p>{{viewtickets.title}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h6>Description :- </h6>
                </div>
                <div class="col-md-9" >
                 <p>{{viewtickets.description}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h6>Contact :- </h6>
                </div>
                <div class="col-md-9" >
                 <p>{{viewtickets.contact_number}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 
        <div class="col-md-4  grid-margin stretch-card">
          <div class="card">
             <div class="card-body d-flex justify-content-center align-items-center">
              <a id="editticket" href="{% url 'helpdeskapp:update_ticket_User' pk=viewtickets.id %}" title="Edit">
                <i class="fa fa-pencil-square-o ms- me-4" aria-hidden="true">&nbsp; &nbsp;Edit</i>
              </a>
              <span>

                <a href="#" onclick="window.print()" title="Print" target="_blank">
                  <i class="fa fa-print ms-5" aria-hidden="true">&nbsp; &nbsp;Print</i>
                </a>
              </span>
            </div> 
          </div>
        </div> -->


      <div class="col-md-4 mb-5">

        <div class="card">

          <div class="card-body d-flex justify-content-center align-items-center">
            <div class="dd">

              <div class="edit">




                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                <a id="editticket" href="{% url 'it_manager:update_ticket_manager' pk=viewtickets.id %}" title="Edit">
                  Edit

                </a>
              </div>
              <div class="print">

                <i class="fa fa-print" aria-hidden="true"></i>

                <a href="#" onclick="window.print()" title="Print" target="_blank">

                  Print
                </a>
              </div>

            </div>

          </div>

        </div>

      </div>

      <!-- <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Basic form elements</h4>
              <p class="card-description"> Basic form elements </p>
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputName1">Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword4">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleSelectGender">Gender</label>
                  <select class="form-control" id="exampleSelectGender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>File upload</label>
                  <input type="file" name="img[]" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputCity1">City</label>
                  <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">Textarea</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div> -->
      <div class="col-md-8 grid-margin">
        <div class="card pb-4">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <h4 class="card-title">Add Reply</h4>
              <br><br>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comments"></textarea>
              </div>
              <br><br>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputCity" id="form-label" class="form-label">Attachment :</label>
                  <input type="file" class="form-control" id="inputCity" placeholder="Your name.." name='attachment'>
                </div><br>
              </div>
              <input class="btn btn-primary" type="submit"  value="Submit">
 
          </div>
        </div>
        </form>
      </div>

      <div class="col-md-4 grid-margin  ticketdetails stretch-card" style="margin-top: -90px;">
        <div class="card ">
          <div class="card-body">
            <h4 class="card-title mb-5">Ticket Details</h4>
            <div class="boxR">


              <div class="row mt-2 my-2" >
                <div class="col">
                  <p>Ticket ID</p>
                </div>
                <div class="col">
                 <p>{{viewtickets.id}}</p>
                </div>
              </div>

              <div class="row my-3">
                <div class="col">
                  <p>Status </p>
                </div>
                <div class="col" >
                 <p>{{viewtickets.status}}</p>
                </div>
              </div>

            


              <div class="row my-2">
                <div class="col">
                  <p>Department </p>
                </div>
                <div class="col" >
                 <p>{{viewtickets.department}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p> Priority </p>
                </div>
                <div class="col" >
                 <p>{{viewtickets.priority}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  {% if viewtickets.status == 'open' %}
              <form action="{% url 'it_manager:change_ticket_status' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="closed" name="status">
                <input type="hidden" value="{{viewtickets.id}}" name="ticket_id">
                <button type="submit" class="btn btn-outline-danger">Close</button>
              </form>
              {% elif viewtickets.status == 'closed' %}
              <form action="{% url 'it_manager:change_ticket_status' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="open" name="status">
                <input type="hidden" value="{{viewtickets.id}}" name="ticket_id">
                <button type="submit" class="btn btn-outline-success">Open Again</button>
              </form>
              {% else %}
              <button type="button" class="btn btn-primary text-white ">
                Work in progress..
              </button>
              {% endif %}
                </div>
             
              </div>

            </div>




          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->

        <!-- partial -->
      </div>
    </div>
    <!-- main-panel ends -->
  </div>



  {% endblock %}